* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse Bold";
  src: url("/Norse-Bold.otf");
}

body {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
}
.background {
  background-image: url("/background.avif");
  background-size: cover;
  background-position: center;
  width: 40%;
  color: #e7eae5;
}
.logo-container {
  /* width: 100%; */
  padding: 15px;
  margin-top: 20vh;
  background-color: #00000044;
  font-family: "Norse Bold", Courier, monospace;
  font-size: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.signup-section {
  padding-top: 10vh;
  background: #f3f3f6;
  width: 60%;
}
.signup-section > * {
  margin-left: 32px;
}
.form-container {
  background: #fff;
  margin: 32px 0;
  padding: 16px 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
}

.form-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  width: 70%;
  max-width: 600px;
}
.form-group {
  width: 40%;
  margin: 10px 0;
}
label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.8em;
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.08em;
}
input {
  width: 100%;
  /* height: 32px; */
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 6px;
  line-height: 1.4;
}

input:focus {
  outline: 0;
  border: 1px solid #2e2eb4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
input:user-invalid {
  border: 1px solid #b92326;
  background-color: rgba(185, 35, 38, 0.25);
}
input:focus:user-invalid {
  background-color: transparent;
  border: 1px solid #b92326;
}

p {
  font-size: 20px;
  font-weight: 700;
  max-width: 600px;
  margin-bottom: 16px;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  border: none;
  background-color: #596d48;
  color: #e5e7eb;
  font-weight: 600;
  border-radius: 7px;
  margin-bottom: 32px;
  align-self: flex-start;
  padding: 10px 48px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 4px 7px;
}

.login-help {
  font-size: 16px;
}

.password-hint {
  font-size: 0.8em;
  text-align: end;
}

a {
  text-decoration: none;
  color: #596d48;
}
