* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}
.background {
  background-image: url("/background.avif");
  width: 40%;
  color: #e7eae5;
}
.logo-container {
  /* width: 100%; */
  padding: 15px;
  margin-top: 20vh;
  background-color: #00000044;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.signup-section {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  font-family: inherit;
  font-size: 100%;
}
